@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.common-btn {
    @apply bg-white text-black h-14 text-base font-medium font-['Manrope'] py-2 px-4 flex flex-row justify-between items-center rounded-t-md;
}

ul {
    @apply no-scrollbar overflow-y-auto text-sm font-normal font-['Manrope'] max-h-[215px]
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.expended {
    @apply bg-white rounded-b-md pt-2 absolute z-10
}

.input_container:hover > .glass_bg,
li:hover {
    background-color: #FFD15B;
}